**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.vs
**/.vscode
**/.idea
**/bin
**/obj
**/out
**/node_modules
**/.doc
**/docs
**/*.md
**/*.user
**/*.suo
**/launchSettings.json
**/appsettings.Development.json

